@import '../../styles/adaptive.scss';

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000080;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .modalContent {
      position: relative;
      max-height: 670px; // Максимальная высота
      max-width: 1000px; // Максимальная ширина
      width: 100%; // Адаптивная ширина
      height: auto; // Автоматическая высота
      display: flex; // Используем flex для центрирования изображения
      justify-content: center; // Центрируем изображение по горизонтали
      align-items: center; // Центрируем изображение по вертикали

      img {
        width: 100%; // Заставляем изображение растягиваться по ширине
        height: auto; // Высота будет автоматической
        max-height: 670px; // Ограничиваем максимальную высоту изображения
        max-width: 1000px; // Ограничиваем максимальную ширину изображения
        object-fit: contain; // Сохраняем пропорции изображения
      }

      .closeButton {
        $closeSize: 40px;

        position: absolute;
        width: $closeSize;
        height: $closeSize;
        top: calc($closeSize * -1);
        right: calc($closeSize * -1);
        background: none;
        border: none;
        outline: none;
        cursor: pointer;

        @media (max-width: $desktop4) {
          $closeSize: 30px;
          width: $closeSize;
          height: $closeSize;
          top: calc($closeSize * -1);
          right: calc($closeSize * -1);
        }

        @media (max-width: $mobile1) {
          $closeSize: 20px;
          width: $closeSize;
          height: $closeSize;
          top: calc($closeSize * -1);
          right: calc($closeSize * -1);
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}