$font-weights: (300: 'Light',
  400: 'Regular',
  500: 'Medium',
  600: 'SemiBold',
  700: 'Bold',
  800: 'ExtraBold',
  900: 'Black'
);

@each $weight,
$style in $font-weights {
  @font-face {
    font-family: 'TildaSans';
    src: url('/fonts/TildaSans/TildaSans-VF.woff2') format('woff2'),
    url('/fonts/TildaSans/TildaSans-VF.woff') format('woff'),
    url('/fonts/TildaSans/TildaSans-#{$style}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}