$primary: #382460;
$secondary: #A5A5A5;
$bg-secondary: #FAF8FF;
$bg-icon: #8D6AD0;
$default-radius: 70px;
$mobile-radius: 35px;

$bg-welcome: linear-gradient(-114deg, #573993 32%, #230C51 114%);
$bg-welcome-lights: radial-gradient(circle, #312D39 0%, #372757e6 69%);
$bg-lights: radial-gradient(circle, #742CFF 0%, #D5BFFF 69%);