@import '../../styles/theme.scss';
@import '../../styles/adaptive.scss';

.container {
  position: relative;

  .light {
    position: absolute;
    z-index: -1;
    opacity: 14%;

    &:nth-child(1) {
      top: -85px;
      right: -180px;
    }

    &:nth-child(2) {
      bottom: -160px;
      left: -180px;
      opacity: 14%;
    }

    &:nth-child(3) {
      height: 470px;
      width: 470px;
      top: 25px;
      left: -250px;
      opacity: 10%;
    }
  }

  .title_container {
    position: absolute;
    top: 0;
    left: 0;

    @media (max-width: $table1) {
      position: static;
      top: auto;
      left: auto;
      display: flex;
      justify-content: center;
    }

    .title {
      max-width: 360px;
      width: 100%;

      @media (max-width: $table1) {
        max-width: 450px;
      }

      @media (max-width: $mobile1) {
        max-width: 280px;
      }
    }
  }

  .documents {
    margin-top: 44px;
    display: flex;
    gap: 20px;

    @media (max-width: $desktop4) {
      gap: 10px;
    }

    @media (max-width: $table1) {
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: $mobile1) {
      margin-top: 30px;
    }

    .item {
      &:nth-child(1) {
        margin-top: 160px;

        @media (max-width: $desktop4) {
          margin-top: 170px;
        }
      }

      &:nth-child(2) {
        margin-top: 80px;

        @media (max-width: $desktop4) {
          margin-top: 85px;
        }
      }

      @media (max-width: $table1) {
        width: 450px;
        height: 450px;
        margin-top: 0 !important;
      }

      @media (max-width: $mobile1) {
        max-width: 280px;
        width: 100%;
        height: 354px;
      }
    }
  }
}