@import '../../styles/theme.scss';
@import '../../styles/adaptive.scss';

.wrapper {
  background: $bg-welcome;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: $default-radius;
  border-top-right-radius: $default-radius;
  height: 900px;

  @media (max-width: $table1) {
    height: auto;
    padding: 37px 30px 30px;
  }

  .container {
    display: flex;
    gap: 30px;

    @media (max-width: $desktop4) {
      flex-direction: column;
      gap: 20px;
    }

    .info {
      width: 100%;
      max-width: 490px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;

      @media (max-width: $desktop4) {
        gap: 20px;
      }

      .list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media (max-width: $desktop4) {
          margin-top: 10px;
          margin-bottom: 10px;
        }

        .item {
          width: fit-content;
          font-size: 24px;

          @media (max-width: $desktop4) {
            font-size: 18px;
            font-weight: 500;
          }

          .content {
            display: flex;
            align-items: center;
            gap: 20px;

            @media (max-width: $desktop4) {
              gap: 10px;
            }
          }
        }
      }

      .address {
        font-size: 28px;

        @media (max-width: $desktop4) {
          font-size: 18px;
          font-weight: 500;
        }
      }
    }

    .map {
      flex: 1;
      height: 425px;
      overflow: hidden;
      border-radius: 25px;

      @media (max-width: $desktop4) {
        gap: 10px;
      }
    }
  }
}