@import '../../styles/theme.scss';

.icon_wrapper {
  .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bg-icon;
    width: 370px;
    height: 370px;

    img {
      width: 44%;
    }

    .bubble {
      position: absolute;
      border-radius: 50%;

      &:nth-of-type(-n+2) {
        width: 10.81%;
        height: 10.81%;
      }

      &:nth-of-type(n+5):nth-of-type(-n+7) {
        width: 5.41%;
        height: 5.41%;
      }

      &:nth-of-type(1) {
        bottom: 24.32%;
        left: -1.35%;
      }

      &:nth-of-type(2) {
        top: -1.35%;
        right: 0;
      }

      &:nth-of-type(3) {
        width: 7.03%;
        height: 7.03%;
        bottom: 41.62%;
        left: 6.22%;
      }

      &:nth-of-type(4) {
        width: 4.05%;
        height: 4.05%;
        top: 23.24%;
        right: 11.62%;
      }

      &:nth-of-type(5) {
        bottom: 10.81%;
        right: 5.41%;
      }

      &:nth-of-type(6) {
        top: 14.86%;
        right: -2.7%;
      }

      &:nth-of-type(7) {
        bottom: -2.7%;
        left: 14.86%;
      }

      &:nth-of-type(8) {
        top: 0.54%;
        right: 12.16%;
        width: 2.7%;
        height: 2.7%;
      }

      &.primary {
        background-color: $primary;
        animation: bubblePrimaryFloat 4s ease-in-out infinite;
      }

      &.secondary {
        background-color: $bg-icon;
        animation: bubbleFloatSecondary 3s ease-in-out infinite;
      }
    }
  }
}

@keyframes bubblePrimaryFloat {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-40%);
  }
}


@keyframes bubbleFloatSecondary {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-80%);
  }
}